*.o
*.lo
.deps
.DS_Store
.idea/
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
install_manifest.txt
libtool
ltmain.sh
m4
missing
stamp-h1
Makefile
Makefile.in
CMakeFiles
CMakeCache.txt
cmake_install.cmake

# For CMakeLists.txt build from MMT
/build/
