*.o
*.lo
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
install-sh
libtool
ltmain.sh
m4/
missing
scripts/Makefile
scripts/Makefile.in
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/compile-lm
src/cswa
src/dict
src/dtsel
src/interpolate-lm
src/libirstlm.la
src/ngt
src/plsa
src/prune-lm
src/quantize-lm
src/score-lm
src/tlm
src/verify-caching
stamp-h1
